{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Food Billing System</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron rowstyle">
                <center>
                <h1>About this Food Billing System</h1>
                <p style="size: 15px; font-style: italic;">The Food Billing System (FBS) is an application which manages a restaurant's information recording and billing procedure. This software application is used to monitor the customers and employees of the company. FBS is a billing system designed to increase the usage of technology in the workplace. It's an application which can handle a lot of data, including employee information, orders placed, customer details. It can handle bills and collect information about the billing history. The Waterfall Model is used in generating this application, in which requirements are known primarily and then analyzed, and then the software application is designed using various tools and techniques and finally developed.</p>
                </center>
            </div>
        </div>
</body>
</html>