{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Food Billing System</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>
<body id="BG" style="background-image: url('{% static 'img/d.jpg' %}');">
	<div class="header">
            <div class="innerhedder">
                <div class="logo">

                    <span style="color: red;font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Billing Menu</span>
                </div>
                
                 <div class="headerlink">
                    <a href="{% url 'index' %}">Logout</a>
                </div>

                <div class="headerlink">
                    <a href="{% url 'change' %}">Change password</a>
                </div>

                <div class="headerlink">
                    <a href="{% url 'menudis' %}">Menu</a>
                </div>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="{% url 'owner' %}">Home</a>
            <a href="{% url 'empdet' %}">Employee Details</a>
            <a href="{% url 'about' %}">About</a>
			<a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'index' %}">Logout</a>
		</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<div class="container">
	{% block foo %}

{% endblock %}

</body>
</html>