{% extends "base2.html" %}


{% block foo %}
{% load static %}
<center>
	<div class="container">
<div class="card col-4 text-center m-auto mt-5">
<h1 class="card-header" style="font-weight: bolder ;color: blue;" >Profile entry</h1>
<div class="card-body">
<form method="post">
{% csrf_token %}
<label style="color: seagreen;">user name</label>
<input type="text" value={{request.user}} name="uname" required="true" readonly><br><br>

<label style="color: seagreen;">Phone number</label>
<input type="number" name="pnum" required="true"><br><br>

<label style="color: seagreen;">Address</label>
<input type="text" name="add" required="true"><br><br>
<button type="submit" class="btn btn-outline-success">Add</button>
</form>


</div>
</div>
</div>
</center>
{% endblock %}